ul.pagelinks {
	padding-left:5px;
}

.pager .pagelinks .current {
    font-weight:bold;
}
.pager .pagelinks li {
    display: inline;
    margin-right: 0.5em;
}
.pager .pagesize {
    display: none;
}

.pager {
	text-align:center;
}

.pager ul {
	margin:0;
	line-height: 30px;
}
