.jpoker_chat_history_dealer {
    overflow: auto;
    height: 6em;
    background-color: black;
}

.jpoker_chat_history_player {
    overflow: auto;
    height: 4.5em;
    background-color: white;
}

.jpoker_chat_message {
    line-height: 1.5em;
}

.jpoker_chat_history_dealer .jpoker_chat_message {
    color: red;
    line-height: 1.5em;
}
