.jpoker_table_list table {
	border:1px solid #24B300;
}

.jpoker_table_list td {
	padding: 0.5em 1em;
}

.jpoker_table_list tr.evenRow {
	background:#CCFFBF;
}

.jpoker_table_list th {
	background: #24B300;
}

.jpoker_table_list tr {
	cursor:pointer;
}

.jpoker_table_list tr.hover {
	background:#73BF60;
	color:#fff;
}
