.jpoker_table .jpoker_ptable_player_seat0_avatar,
.jpoker_table .jpoker_ptable_player_seat1_avatar,
.jpoker_table .jpoker_ptable_player_seat2_avatar,
.jpoker_table .jpoker_ptable_player_seat3_avatar,
.jpoker_table .jpoker_ptable_player_seat4_avatar,
.jpoker_table .jpoker_ptable_player_seat5_avatar,
.jpoker_table .jpoker_ptable_player_seat6_avatar,
.jpoker_table .jpoker_ptable_player_seat7_avatar,
.jpoker_table .jpoker_ptable_player_seat8_avatar,
.jpoker_table .jpoker_ptable_player_seat9_avatar
{
 background-repeat: no-repeat;
}

.jpoker_table .jpoker_position .jpoker_ptable_player_seat0_name,
.jpoker_table .jpoker_position .jpoker_ptable_player_seat1_name,
.jpoker_table .jpoker_position .jpoker_ptable_player_seat2_name,
.jpoker_table .jpoker_position .jpoker_ptable_player_seat3_name,
.jpoker_table .jpoker_position .jpoker_ptable_player_seat4_name,
.jpoker_table .jpoker_position .jpoker_ptable_player_seat5_name,
.jpoker_table .jpoker_position .jpoker_ptable_player_seat6_name,
.jpoker_table .jpoker_position .jpoker_ptable_player_seat7_name,
.jpoker_table .jpoker_position .jpoker_ptable_player_seat8_name,
.jpoker_table .jpoker_position .jpoker_ptable_player_seat9_name
{
    background-color: #44FF44;
}

.jpoker_table .jpoker_sit_out .jpoker_ptable_player_seat0_name,
.jpoker_table .jpoker_sit_out .jpoker_ptable_player_seat1_name,
.jpoker_table .jpoker_sit_out .jpoker_ptable_player_seat2_name,
.jpoker_table .jpoker_sit_out .jpoker_ptable_player_seat3_name,
.jpoker_table .jpoker_sit_out .jpoker_ptable_player_seat4_name,
.jpoker_table .jpoker_sit_out .jpoker_ptable_player_seat5_name,
.jpoker_table .jpoker_sit_out .jpoker_ptable_player_seat6_name,
.jpoker_table .jpoker_sit_out .jpoker_ptable_player_seat7_name,
.jpoker_table .jpoker_sit_out .jpoker_ptable_player_seat8_name,
.jpoker_table .jpoker_sit_out .jpoker_ptable_player_seat9_name
{
    background-color: #AAAAAA;
}

.jpoker_table .jpoker_button {
    color: #FFF;
    margin: 0 5px;
    line-height: 30px;
}

.jpoker_table .jpoker_sitout {
    color: #FFF;
    margin: 0 5px;
    line-height: 25px;
    text-align: center;
}

.jpoker_table .jpoker_pot, .jpoker_table .jpoker_bet {
    text-align: center;
    line-height: 48px;
    font-weight: bold;
    font-size: 14px;
    font-family: "trebuchet MS",arial,helvetica,sans-serif;
}

.jpoker_table .jpoker_money {
    text-align: center;
    line-height: 10px;
    font-size: small;
    font-weight: bold;
    font-family: "trebuchet MS",arial,helvetica,sans-serif;
    color: #e5b408;
}

.jpoker_table .jpoker_name {
    text-align: center;
    line-height: 10px;
    font-size: small;
    font-weight: bold;
    font-family: "trebuchet MS",arial,helvetica,sans-serif;
    color: #FFFFFF;
}
