.jpoker_chat_history_dealer {
    overflow: auto;
    height: 6em;
    background-color: black;
}

.jpoker_chat_history_player {
    overflow: auto;
    height: 4.5em;
    background-color: white;
}

.jpoker_chat_message {
    line-height: 1.5em;
}

.jpoker_chat_history_dealer .jpoker_chat_message {
    color: red;
    line-height: 1.5em;
}

.jpoker_chat_input {
	height: auto;
	background-color: white;
}

.jpoker_chat_line{
	padding:0 0.2em;
}

.jpoker_chat_history, .jpoker_chat_input, .jpoker_ptable_table_info{
	border: 2px solid #000;
}

.jpoker_chat_input {
	border-bottom: 0px;
	width: 100%;
}

.jpoker_chat_history{
	position: absolute;
	top:1.5em;
	height: 10.5em;
	width: 100%;
}

.jpoker_chat_history_dealer{
	background: #ddd;
	border-top:1px solid #ccc;
}

.jpoker_chat_prefix{
	font-weight: bold;
}
