span.jpokerServerStatus {
    padding:2px 5px;
    margin-left: 1.5em;
}

.jpokerPosition {
    background-color: #44FF44;
}

.jpokerSitOut {
    background-color: #AAAAAA;
}

/* copyright notice dialog box */
#jpokerCopyright {
    background-color: #73BF60;
    padding: 2em;
}

#jpokerCopyright a:visited { color: #FFF; }
#jpokerCopyright a:link { color: #FFF; }

#jpokerCopyright .jpokerAuthors {
    font-weight: bolder;
    text-align: center;
}

#jpokerCopyright .jpokerLicense {
    margin: 1em;
    text-align: justify;
}

#jpokerCopyright .jpokerDownload {
    font-weight: bolder;
    text-align: center;
    margin: 1em;
}

#jpokerCopyright .jpokerExplain {
    margin: 1em;
    text-align: justify;
}

#jpokerCopyright .jpokerFullCopyright {
    margin: 1em;
    text-align: justify;
}

#jpokerCopyright .jpokerDismiss {
    color: #FFF;
    border: 2px solid #24B300;
    font-weight: bolder;
    text-align: center;
}

.jpokerButton {
    color: #FFF;
    margin: 0 5px;
    line-height: 30px;
}

.jpokerPot, .jpokerBet {
    text-align: center;
    line-height: 48px;
    font-weight: bold;
}

.jpokerMoney {
    text-align: center;
    line-height: 10px;
    font-size: small;
    font-weight: bold;
    color: #e5b408;
}

.jpokerName {
    text-align: center;
    line-height: 10px;
    font-size: small;
    font-weight: bold;
    color: #FFFFFF;
}
