table.jpokerTableList {
	border:1px solid #24B300;
}

table.jpokerTableList td {
	padding: 0.5em 1em;
}

table.jpokerTableList tr.evenRow{
	background:#CCFFBF;
}

table.jpokerTableList thead td,  table.jpokerTableList th  {
	background: #73BF60;
}