Source: jpoker
Maintainer: Johan Euphrosine (proppy) <proppy@aminche.com>
Uploaders: Ola Lundqvist <opal@debian.org>, Loic Dachary (OuoU) <loic@dachary.org>
Section: web
Priority: optional
Standards-Version: 3.7.3
Build-Depends: debhelper (>= 5), cdbs, gettext, python, python-simplejson, python-libxml2, tidy, ruby, rubygems, wget, inkscape

Package: jpoker
Architecture: all
Depends: apache2
Suggests: python-poker-network
Description: javascript online poker client
 http://jspoker.pokersource.info/jpoker/ is a javascript client for
 playing online poker. It displays the list of poker tables and when
 the user choses one, it is displayed in the browser. The user can
 join the game and play hands. It supports multi table
 tournaments. The poker server to which jpoker connects must implement
 a protocol compatible with
 http://pokersource.info/poker-network/. jpoker user interface is
 based on http://tiddlywiki.com/. However the underlying
 http://jquery.com/ based library is independent and can be used to
 implement alternate look and feel.
