Package: jpoker
Version: 1.0.0-1
Architecture: all
Maintainer: Johan Euphrosine <proppy@aminche.com>
Installed-Size: 376
Depends: apache2
Recommends: python-poker-network
Section: web
Priority: optional
Description: Javascript poker client
 List tables and tournaments of poker-network based servers.
